Repository sndl-team/sndl, changes with the labels that .github/labeler.yml gives for each.
All labels: @sndl/cli, @sndl/root, @sndl/assets, @sndl/actions, @sndl/container, @sndl/requirements, @sndl/adr, @sndl/client

.github/labeler.yml:

"@sndl/cli":
  - cmd/*

"@sndl/root":
  - main.go

"@sndl/assets":
  - assets/*

"@sndl/actions":
  - .github/*

"@sndl/container":
  - .devcontainer/*

"@sndl/requirements":
  - go.mod

"@sndl/adr":
  - adr/*

"@sndl/client":
  - client/*

Create CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Labels: none

Update issue templates [ci skip]
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: none

[ci skip] Added logging and a verbose flag
  client/download.go
  client/favorites.go
  client/mirror.go
  client/popular.go
  client/search.go
  cmd/download.go
  cmd/favorites.go
  cmd/mirror.go
  cmd/popular.go
  cmd/root.go
  cmd/search.go
  go.mod
  go.sum
Labels: @sndl/cli, @sndl/requirements, @sndl/client

[ci skip] Added an adr for logging proposal
  adr/010-logging.md
Labels: @sndl/adr

Added the basic functionality for the senturion api including:
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .devcontainer/library-scripts/common-debian.sh
  client/download.go
  client/favorites.go
  client/mirror.go
  client/popular.go
  client/search.go
  cmd/root.go
  cmd/search.go
  go.mod
  go.sum
  lib/senturion.go
Labels: @sndl/cli, @sndl/container, @sndl/requirements, @sndl/client
